{% extends 'base_content.html' %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card">
            <div class="card-body">
                <h1 class="cover-heading">Available clubs</h1>
                <p class="cover-text">Find the club you are looking for here!</p>
                {% for club in list_of_clubs %}
                  <hr class="solid">
                  <p>
                    <a href="/club/{{club.club_id}}" class="btn btn-lg btn-secondary">
                      <b>{{club.name}}</b>
                    </a>
                  </p>
                  <p>{{club.owner}}</p>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
