{% extends 'base_content.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card cover-card">
                <div class="card-body">
                    <h1 class="cover-heading">Change Password</h1>
                    <!-- Password-change form -->
                    <form action="{% url 'change_password' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Change Password" class="btn btn-primary">
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
