{% extends 'base_content.html' %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card">
            <div class="card-body">
                <h1 class="cover-heading">Club Memberships</h1>
                <p class="cover-text">Find the club you are looking for here!</p>
                {% if clubs %}
                    {% for club in clubs %}
                      <hr class="solid">
                      <p>
                        <a href="/club/{{club.id}}" class="btn btn-lg btn-secondary">
                          <b>{{club.name}}</b>
                        </a>
                      </p>
                      <p>{{club.owner}}</p>
                    {% endfor %}
                {% else %}
                    <hr class="solid">
                    <p>No clubs memberships, you can apply to clubs <a href={% url 'membership_application' %}>here</a></p>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
