{% extends 'base_content.html' %}

{% block content_head %}
   <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card cover-card">
                <div class="card-body">
                    <h1 class="card-title">{{club.name}}</h1>
                    {% if membership %}
                        {% if membership.UserTypes.NON_MEMBER in membership.get_user_types %}
                            {% if membership.application_status == membership.Application.PENDING %}
                                You have applied for membership.
                            {% elif membership.application_status == membership.Application.DENIED %}
                                Your application for membership has been denied.
                            {% endif %}
                        {% else %}
                        <p>You are {{membership.get_user_type_name}}.</p>
                            {% if membership.UserTypes.OWNER in membership.get_user_types %}
                            <a href="{% url 'edit_club' club.id %}?next={% url 'club_dashboard' club.id %}" class="btn btn-primary">
                                Edit
                            </a>
                            {% else %}
                            <a class="btn btn-danger" href="{% url 'leave_club' club.id %}?previous={{ request.get_full_path }}&next={% url 'user_dashboard' %}">
                                Leave Club
                            </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a href="{% url 'membership_application' %}" class="btn btn-primary">Join Club</a>
                    {% endif %}
                </div>
            </div>

            <div class="card cover-card">
                <div class="card-body">
                    <h2>Club Details</h2>

                    <table>
                        <tbody>
                            <tr>
                                <th scope="col">Location</th>
                                <td>{{club.location}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Mission Statement</th>
                                <td>{{club.mission_statement}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Description</th>
                                <td>{{club.description}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card cover-card">
                <div class="card-body">
                    <h2>Owner Details</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th scope="col">Owner Gravatar</th>
                                <td><img src="{{club.owner.gravatar}}" class="center" width="120" height="120"/> </th>
                            </tr>
                            <tr>
                                <th scope="col">Username</th>
                                <td>{{club.owner}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Name</th>
                                <td>{{club.owner.name}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Public Bio</th>
                                <td>{{club.owner.public_bio}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card cover-card">
                <div class="card-body">
                    <h2>Statistics</h2>

                    <table>
                        <tbody>
                            <tr>
                                <th scope="col">Number of Members</th>
                                <td>{{ members|length }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Number of Officers</th>
                                <td>{{ officers|length }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-8">
            <div class="card cover-card">
                <div class="card-body">
                    {% if membership.UserTypes.OFFICER in membership.get_user_types %}
                    <h2>Tournaments <a href="{% url 'new_tournament' club.id %}?next={{ request.get_full_path }}" class="btn btn-primary">Create Tournament</a></h2>
                    {% else %}
                    <h2>Tournaments</h2>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="table-tournaments" data-toggle="table" data-pagination="true">
                            <thead>
                                <tr>
                                    <th scope="col">Tournament Name</th>
                                    <th scope="col">Organizer Name</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tournament in tournaments %}
                                    <tr>
                                        <td>{{tournament.name}}</td>
                                        <td>{{tournament.organizer.name}}</td>
                                        <td>{{tournament.capacity}}</td>
                                        <td>{{tournament.deadline}}</td>
                                        <td><a href="{% url 'tournament_dashboard' tournament.id %}" class="btn btn-primary">
                                            View
                                        </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if membership and not membership.user_type == membership.UserTypes.NON_MEMBER %}
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Members</h2>
                    <div class="table-responsive">
                        <table id="table-members" data-toggle="table" data-pagination="true">
                            <thead>
                                <tr>
                                    <th scope="col">Gravatar</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Member Type</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td>
                                            <img src="{{member.user.gravatar}}" class="center" width="60" height="60">
                                        </td>
                                        <td>{{member.user.username}}</td>
                                        <td>{{member.user.name}}</td>
                                        <td>
                                            {% if member.user_type == member.UserTypes.OFFICER %}
                                                <p>Officer</p>
                                            {% elif member.user_type == member.UserTypes.MEMBER %}
                                                <p>Member</p>
                                            {% else %}
                                                <p>Owner</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                              {% if membership and membership != member %}
                                                {% if membership.UserTypes.OFFICER in membership.get_user_types %}
                                                    <div class="btn-group" role="group">
                                                        <button id="btn-group-drop-{{member.user.username}}" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                          Actions
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="btn-group-drop-{{member.user.username}}">
                                                          <li>
                                                            <form action="{% url 'user_profile'%}" method="POST">
                                                              {% csrf_token %}
                                                              <input type="hidden" name="user" value="{{member.user.pk}}">
                                                              <input type="hidden" name="membership" value="{{membership.pk}}">
                                                              <input type="submit" value="View Profile" class="dropdown-item" />
                                                            </form>
                                                          </li>
                                                            {% if membership.UserTypes.OWNER in membership.get_user_types %}
                                                                {% if member.user_type == member.UserTypes.OFFICER %}
                                                                <li>
                                                                    <a class="dropdown-item"
                                                                        href="{% url 'demote_member' club.id member.user.id %}?next={{ request.get_full_path }}">
                                                                        Demote
                                                                    </a>
                                                                </li>
                                                                {% else %}
                                                                    <li>
                                                                        <a class="dropdown-item"
                                                                            href="{% url 'promote_member' club.id member.user.id %}?next={{ request.get_full_path }}">
                                                                            Promote
                                                                        </a>
                                                                    </li>
                                                                {% endif %}

                                                                <li>
                                                                        <a class="dropdown-item"
                                                                           href="{% url 'transfer_ownership' club.id member.user.id %}?next={{ request.get_full_path }}">
                                                                            Transfer Ownership
                                                                        </a>
                                                                    </li>
                                                            {% endif %}

                                                            <li>
                                                                <a class="dropdown-item" href="{% url 'kick_member' club.id member.user.id %}?next={{ request.get_full_path }}">Kick</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                  <form action="{% url 'user_profile'%}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="user" value="{{member.user.pk}}">
                                                    <input type="hidden" name="membership" value="{{membership.pk}}">
                                                    <input type="submit" value="View Profile" class="btn btn-secondary" />
                                                  </form>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if membership.UserTypes.OFFICER in membership.get_user_types %}
              <div class="card cover-card">
                <div class="card-body">
                  <h2>Pending applications</h2>

                  {% if applications %}

                  <table>
                    <tbody>
                      {% for application in applications %}
                      <tr>
                        <th scope="col" width="50%">{{application.user.name}}</th>
                        <td width="25%">
                          <!-- Change 'leave_club' to 'accept_application' once implemented -->
                          <a class="btn btn-success" href="{% url 'accept_membership' application.id %}?next={{ request.get_full_path }}">
                                Accept
                          </a>
                        </td>
                        <td width="25%">
                          <!-- Change 'leave_club' to 'reject_application' once implemented -->
                          <a class="btn btn-danger" href="{% url 'reject_membership' application.id %}?next={{ request.get_full_path }}">
                                Reject
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  {% else %}
                  <p>No pending applications</p>
                  {% endif %}

                </div>
              </div>
            {% endif %}
        </div>
    </div>

    <script>
        const tournamentDataTable = new simpleDatatables.DataTable("#table-tournaments", {
            fixedHeight: true,
            columns: [
                { select: [4], sortable: false }
            ]
        })

        const dataTable = new simpleDatatables.DataTable("#table-members", {
            fixedHeight: true,
            columns: [
                { select: [0, 4], sortable: false }
            ]
        })
    </script>
    <style>
        .user-link {
            background-color: transparent;
            text-decoration: underline;
            border: none;
            color: blue;
            cursor: pointer;
        }

        user-link:focus {
            outline: none;
        }
    </style>
{% endblock %}
