{% extends 'base_content.html' %}
{% block content_head %}
   <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card centered-card">
            <div class="card-body">
                <h1 class="cover-heading">Club Memberships</h1>
                <p class="cover-text">Find the clubs you have memberships for here!</p>
                {% if clubs %}
                    <div class="table-responsive">
                         <table class="table table-hover" id="table-clubs" data-toggle="table" data-pagination="true">
                            <thead>
                                <tr>
                                    <th scope="col">Club Name</th>
                                    <th scope="col">Owner</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for club in clubs %}
                                    <tr onclick="window.location='{% url 'club_dashboard' club.id %}';">
                                        <td>{{club.name}}</td>
                                        <td>{{club.owner}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <hr class="solid">
                    <p>No clubs memberships, you can apply to clubs <a href={% url 'membership_application' %}>here</a></p>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
</div>

<script>
    const dataTable = new simpleDatatables.DataTable("#table-clubs", {
        fixedHeight: true,
        columns: []
    })
</script>
{% endblock %}
