</head>
<body>

    <h1>User List</h1>
    <ul>
        <style>
            * {
              box-sizing: border-box;
            }
            
            /* Create three equal columns that floats next to each other */
            .column {
              float: left;
              width: 15%;
              padding: 5px;
              height: 300px; /* Should be removed. Only for demonstration */
            }
            
            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }
            </style>
            </head>
            <body>
            
            <div class="row">
              <div class="column" style="">
                <h2>Gravatar:</h2>
                {% for member in members %}
       <img src="{{member.user.gravatar}}" class="center" width="120" height="120">
        

           <br>
       {% endfor %}
              </div>
              <div class="column" style="">
                <h2>Name:</h2>
                {% for member in member %}
                <li>{{member.user.name}}<br/>
                 
         
                    <br>
                {% endfor %}
              </div>
              <div class="column" style="">
                <h2>Username:</h2>
                {% for member in members %}
                <li>{{member.user.username}}<br/>
                 
         
                    <br>
                {% endfor %}
              </div>
              <div class="column" style="">
                <h2>Chess Exp:</h2>
                {% for member in members %}
                <li>{{member.user.name}}<br/>
                 
         
                    <br>
                {% endfor %}
              </div>
              <div class="column" style="">
                <h2>Bio:</h2>
                {% for member in members %}
                {{member.user.bio}}      
                 
         
                    <br>
                {% endfor %}
              </div>
              <div class="column" style="">
                <h2>Eamil:</h2>
                {% for member in member %}
                <li>{{member.user.email}}<br/>
                 
         
                    <br>
                {% endfor %}
              </div>
            </div>
            
      
        <a href="{% url 'home' %}" >Back</a> </li>
   </ul>
</div>

</body>
</html>
