{% extends 'base_content.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card cover-card">
                <div class="card-body">
                    <h1 class="cover-heading">Edit Club Details</h1>
                    <!-- Club-info-edition form -->
                    <form action="{% url 'edit_club' club.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Edit Club" class="btn btn-primary">
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
