{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card centered-card">
          <h1 class="cover-heading">Chess Club</h1>
          <p class="cover-text">The place for free range chess</p>
          <p>
            <!-- Button linked to sign-up page -->
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
              Sign up
            </a>
          </p>
          <p>
            <!-- Button linked to log-in page -->
            <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
