{% extends 'base_content.html' %}
{% block content %}
<div class="container vh-100">
    <div class="row h-100">
        <div class="col-12">
            <div class="card cover-card">
                <div class="card-body">
                    <h1 class="cover-heading">Login</h1>
                    <form action="{% url 'log_in' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Login" class="btn btn-primary">
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
