{% extends 'base_content.html' %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card centered-card">
            <div class="card-body">
                <h1 class="cover-heading">Member Profile</h1>
                <hr class="solid">
                <section>
                    <h2 class="cover-heading">Profile Details</h2>
                    <hr class="solid">
                    <h4 class="cover-text">Profile Photo: </h4>
                    <p>
                        <img src="{{user.gravatar}}" class="center" width="120" height="120"/> 
                    </p>
                    <h4 class="cover-text">Userame: </h4><p>{{user.username}}</p>
                    <h4 class="cover-text">Name: </h4><p>{{user.name}}</p>
                    {% if membership.UserTypes.OFFICER in membership.get_user_types or my_profile != None and my_profile == True %}
                    <h4 class="cover-text">Chess Experience: </h4>
                        {% if user.chess_experience == "B" %}
                            <p>Beginner</p>
                        {% elif user.chess_experience == "I" %}
                            <p>Intermediate</p>
                        {% elif user.chess_experience == "A" %}
                            <p>Advanced</p>
                        {% elif user.chess_experience == "M" %}
                            <p>Master (IM/CM)</p>
                        {% elif user.chess_experience == "G" %}
                            <p>Grand Master (GM)</p>
                        {% endif %}
                    {% endif %}
                    <h4 class="cover-text">Public Bio: </h4>
                    <p>{{user.public_bio}}</p>
                    <h4 class="cover-text">Elo Ratings: </h4>
                    <p>Current Elo Rating: {{user.current_elo_rating}}</p><p>Lowest Elo Rating: {{user.lowest_elo_rating}}</p><p>Highest Elo Rating: {{user.highest_elo_rating}}</p>

                    <h4 class="cover-text">Match Stats: </h4>
                    <p>Win: {{user.win}}</p><p>Loss: {{user.loss}}</p><p>Draw: {{user.draw}}</p>
                    <p>Win/Loss Ratio: {% widthratio user.win user.loss 100 %}</p>
                </section> 
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
