{% extends 'base_content.html' %}

{% block content_head %}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Member Details</h2>
                    <table>
                        <tbody>
                            <tr>
                                <th scope="col">Gravatar</th>
                                <td><img src="{{user.gravatar}}" class="center" width="120" height="120"/> </th>
                            </tr>
                            <tr>
                                <th scope="col">Username</th>
                                <td>{{user}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Name</th>
                                <td>{{user.name}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Public Bio</th>
                                <td>{{user.public_bio}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Match Statistics</h2>
                    <div>
                        <canvas id="match-statistics"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Matches</h2>
                        <div class="table-responsive">
                            <table id="table-matches" data-toggle="table" data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">White Player</th>
                                        <th scope="col">Black Player</th>
                                        <th scope="col">Stage</th>
                                        <th scope="col">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for match in matches %}
                                        <tr>
                                            <td>{{match.white_player}}</td>
                                            <td>{{match.black_player}}</td>
                                            <td>{{match.group.stage}}</td>
                                            <td>{{match.result}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                </div>
            </div>
            
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Tournaments</h2>
                    <div class="table-responsive">
                        <table id="table-tournaments" data-toggle="table" data-pagination="true">
                            <thead>
                                <tr>
                                    <th scope="col">Tournament Name</th>
                                    <th scope="col">Organizer Name</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tournament in tournaments %}
                                    <tr>
                                        <td>{{tournament.name}}</td>
                                        <td>{{tournament.organizer.name}}</td>
                                        <td>{{tournament.capacity}}</td>
                                        <td>{{tournament.deadline}}</td>
                                        <td><a href="{% url 'tournament_dashboard' tournament.id %}" class="btn btn-primary">
                                            View
                                        </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card cover-card">
                <div class="card-body">
                    <h2>Elo Rating</h2>
                    <div>
                        <canvas id="elo-rating-history"></canvas>
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <th scope="col">Current Elo Rating</th>
                                <td>
                                    {% with elo_ratings|last as elo_rating %}
                                        {{elo_rating.0|floatformat:"0"}}
                                    {% endwith %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Lowest Elo Rating</th>
                                <td>{{membership.lowest_elo_rating|floatformat:"0"}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Highest Elo Rating</th>
                                <td>{{membership.highest_elo_rating|floatformat:"0"}}</td>
                            </tr>                        
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>
<script>
    const tournamentDataTable = new simpleDatatables.DataTable("#table-tournaments", {
        fixedHeight: true,
        columns: [
            { select: [4], sortable: false }
        ]
    })

    const matchesDataTablle = new simpleDatatables.DataTable("#table-matches", {
        fixedHeight: true,
    })

    const config = {
        type: 'line',
        data: {
            labels: [
                {% for elo_rating in elo_ratings %}
                    "{{elo_rating.1}}",
                {% endfor %}
            ],
            datasets: [{
                label: "Elo Rating",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [
                    {% for elo_rating in elo_ratings %}
                        {{elo_rating.0|floatformat:"0"}},
                    {% endfor %}
                ],
                fill: false,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Elo Rating History'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
    }
    };
    const eloHistoryChart = new Chart(
        document.getElementById('elo-rating-history'),
        config
    );

    const matchStatisticsChart = new Chart(
        document.getElementById('match-statistics'),
        {
            type: 'pie',
            data: {
                labels: [
                    'Wins',
                    'Losses',
                    'Draws'
                ],
                datasets: [{
                        label: 'Match Statistics',
                        data: [
                            {% for match_statistic in match_statistics %}
                                {{match_statistic}},
                            {% endfor %}
                        ],
                        backgroundColor: [
                          'rgb(109, 237, 143)',
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                        ],
                        hoverOffset: 4
                }]
            }
        }
    );

</script>
{% endblock %}
