{% extends 'base_content.html' %}

{% block content_head %}
   <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Member Details</h2>
                    <table>
                        <tbody>
                            <tr>
                                <!-- User's profile picture -->
                                <th scope="col">Gravatar</th>
                                <td><img src="{{user.gravatar}}" class="center" width="120" height="120"/> </th>
                            </tr>
                            <tr>
                                <!-- User's username -->
                                <th scope="col">Username</th>
                                <td>{{user}}</th>
                            </tr>
                            <tr>
                                <!-- User's full name -->
                                <th scope="col">Name</th>
                                <td>{{user.name}}</th>
                            </tr>
                            <tr>
                                <!-- User's public personal bio -->
                                <th scope="col">Public Bio</th>
                                <td>{{user.public_bio}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card cover-card">
                <div class="card-body">
                    <h2>Matches</h2>
                        <div class="table-responsive">
                            <table id="table-matches" data-toggle="table" data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">White Player</th>
                                        <th scope="col">Black Player</th>
                                        <th scope="col">Stage</th>
                                        <th scope="col">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for match in matches %}
                                      <!-- Display the result of each match the user has taken part in -->
                                        <tr>
                                            <td>{{match.white_player}}</td>
                                            <td>{{match.black_player}}</td>
                                            <td>{{match.stage}}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                </div>
            </div>

            <div class="card cover-card">
                <div class="card-body">
                    <h2>Tournaments</h2>
                    <div class="table-responsive">
                        <table id="table-tournaments" data-toggle="table" data-pagination="true">
                            <thead>
                                <tr>
                                    <th scope="col">Tournament Name</th>
                                    <th scope="col">Organizer Name</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tournament in tournaments %}
                                  <!-- Display the information of every tournament the user participates in -->
                                    <tr>
                                        <td>{{tournament.name}}</td>
                                        <td>{{tournament.organizer.name}}</td>
                                        <td>{{tournament.capacity}}</td>
                                        <td>{{tournament.deadline}}</td>
                                        <td><a href="{% url 'tournament_dashboard' tournament.id %}" class="btn btn-primary">
                                            View
                                        </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card cover-card">
                <div class="card-body">
                    <h2>Elo Rating</h2>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    const tournamentDataTable = new simpleDatatables.DataTable("#table-tournaments", {
        fixedHeight: true,
        columns: [
            { select: [4], sortable: false }
        ]
    })

    const matchesDataTablle = new simpleDatatables.DataTable("#table-matches", {
        fixedHeight: true,
        columns: [
            { select: [0, 4], sortable: false }
        ]
    })
</script>
{% endblock %}
