{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card">
          <div class="card-body">
            <h1 class="cover-heading">My applications</h1>
            <p class="cover-text">Your Pending, Approved and Denied club applications</p>
            {% for application in applications_info %}
              <hr class="solid">
              <p>
                <a href="/club/{{application.club_id}}" class="btn btn-lg btn-secondary">
                  <b>{{application.club_name}}</b>
                </a>
              </p>
              <p>Application status: {{application.application_status}}</p>
            {% endfor %}
            {% for message in messages %}
              <hr class="solid">
              <p>{{message}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
