{% extends 'base_content.html' %}
{% block content %}
<div class="container vh-100">
  <div class="row h-100">
  <div class="col-12">
      <div class="card cover-card centered-card">
          <h1 class="cover-heading">My applications</h1>
          <p class="cover-text">Your Pending, Approved and Denied club applications</p>
          {% if applications_info %}
            {% for application in applications_info %}
              <hr class="solid">
              <p>
                <a href="/club/{{application.club_id}}" class="btn btn-lg btn-secondary">
                  <b>{{application.club_name}}</b>
                </a>
              </p>
              <p><b>Application status:</b> {{application.application_status}}</p>
            {% endfor %}
            {% else %}
              <hr class="solid">
              <p>You have not applied to any club yet.</p>
            {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
