{% extends 'base_content.html' %}
{% block content_head %}
   <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
   <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card cover-card">
                    <div class="card-body">
                        <h1 class="card-title">{{tournament.name}}</h1>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <th scope="col">Stage</th>
                                    <td>{{status}}</td>
                                </tr>
                            </tbody>
                        </table>

                        {% if tournament.organizer != user and user not in coorganizers %}
                          {% if sign_up_deadline_not_passed %}
                            {% if participants_count < tournament.capacity and not is_signed_up %}
                              <!-- If the user is not an organizer, and is not already signed-up to the tournament, we show the 'Join Tournament' button -->
                              <a class="btn btn-primary" href="{% url 'join_tournament' tournament.id %}?next={{ request.get_full_path }}">Join Tournament</a>
                            {% endif %}
                            {% if is_signed_up %}
                            <!-- If the user is not an organizer, and is already signed-up to the tournament, we show the 'Leave Tournament' button -->
                              <a class="btn btn-danger" href="{% url 'leave_tournament' tournament.id %}?next={{ request.get_full_path }}">Leave Tournament</a>
                            {% endif %}
                          {% endif %}
                        {% else %}
                          {% if tournament_not_started %}
                            <!-- If the user is an organizer, and the tournament has not started yet, we show the 'Cancel Tournament' button -->
                            <a class="btn btn-danger" href="{% url 'cancel_tournament' tournament.id %}?next={% url 'club_dashboard' tournament.club.id %}">Cancel Tournament</a>
                          {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="card cover-card">
                    <div class="card-body">
                        <h2>Tournament Details</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <th scope="col">Description</th>
                                    <td>{{tournament.description}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Deadline</th>
                                    <td>{{tournament.deadline}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Date</th>
                                    <td>{{tournament.date}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Capacity</th>
                                    <td>{{tournament.capacity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card cover-card">
                    <div class="card-body">
                        <h2>Club Details</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <th scope="col">Name</th>
                                    <td>{{club.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Location</th>
                                    <td>{{club.location}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Mission Statement</th>
                                    <td>{{club.mission_statement}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Description</th>
                                    <td>{{club.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card cover-card">
                    <div class="card-body">
                        <h2>Organizer Details</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <th scope="col">Owner Gravatar</th>
                                    <td><img src="{{tournament.organizer.gravatar}}" class="center" width="120" height="120"/> </td>
                                </tr>
                                <tr>
                                    <th scope="col">Username</th>
                                    <td>{{tournament.organizer.username}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Name</th>
                                    <td>{{tournament.organizer.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">Public Bio</th>
                                    <td>{{tournament.organizer.public_bio}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="card cover-card">
                    <div class="card-body">
                        <h1 class="card-title">Schedule</h1>
                        <form method="POST">
                          {% csrf_token %}
                          <div class="table-responsive">
                            <table id="table-schedule" data-toggle="table" data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">White Player</th>
                                        <th scope="col">Black Player</th>
                                        <th scope="col">Stage</th>
                                        <th scope="col">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for schedule in games %}
                                    {% if schedule.result == "P" %}
                                        <tr>
                                            <td>{{schedule.white_player}}</td>
                                            <td>{{schedule.black_player}}</td>
                                            <td>{{schedule.group.stage}}</td>
                                            <td>
                                              <input type="radio" name={{schedule.id}} id="white" value="W" required/><label for="white">&nbsp; White wins</label><br>
                                              <input type="radio" name={{schedule.id}} id="black" value="B"/><label for="black">&nbsp; Black wins</label><br>
                                              <input type="radio" name={{schedule.id}} id="draw" value="D"/><label for="draw">&nbsp; Draw</label>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <input type="submit" value="Save scores" class="btn btn-primary"/>

                        <a href="{% url 'generate_matches' tournament.id %}?next={{ request.get_full_path }}" role="button" class="btn btn-secondary">
                            Schedule Matches
                        </a>
                      </form>
                    </div>
                </div>

                <div class="card cover-card">
                    <div class="card-body">
                        <h1 class="card-title">Results</h1>
                        <div class="table-responsive">
                            <table id="table-result" data-toggle="table" data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">White Player</th>
                                        <th scope="col">Black Player</th>
                                        <th scope="col">Stage</th>
                                        <th scope="col">Result</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for schedule in games %}
                                    {% if schedule.result != "P" %}
                                        <tr>
                                            <td>{{schedule.white_player}}</td>
                                            <td>{{schedule.black_player}}</td>
                                            <td>{{schedule.stage}}</td>
                                            <td>{{schedule.result}}</td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card cover-card">
                    <div class="card-body">
                        <h1 class="card-title">Participants</h1>
                        <div class="table-responsive">
                            <table id="table-participants" data-toggle="table" data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">Gravatar</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Member Type</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in participants %}
                                    <tr>
                                        <td>
                                            <img src="{{member.user.gravatar}}" class="center" width="60" height="60">
                                        </td>
                                        <td>{{member.user.username}}</td>
                                        <td>{{member.user.name}}</td>
                                        <td>
                                            {% if member.user_type == member.UserTypes.OFFICER %}
                                                <p>Officer</p>
                                            {% elif member.user_type == member.UserTypes.MEMBER %}
                                                <p>Member</p>
                                            {% else %}
                                                <p>Owner</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary"
                                                        href="{% url 'member_profile' member.id %}">
                                                        View Profile
                                            </a>
                                        </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const participantsDataTable = new simpleDatatables.DataTable("#table-participants", {
            fixedHeight: true,
            columns: [
                { select: [4], sortable: false }
            ]
        })
        const scheduleDataTable = new simpleDatatables.DataTable("#table-schedule", {
            fixedHeight: true,
            columns: [
                { select: [0,3], sortable: false }
            ]
        })

        const resultDataTable = new simpleDatatables.DataTable("#table-result", {
            fixedHeight: true,
            columns: [
                { select: [0,3], sortable: false }
            ]
        })
    </script>
    <style>
        .user-link {
            background-color: transparent;
            text-decoration: underline;
            border: none;
            color: blue;
            cursor: pointer;
        }

        user-link:focus {
            outline: none;
        }
    </style>

{% endblock %}
