{% extends 'base_content.html' %}
{% block content_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.dots.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card centered-card">
            <div class="card-body">
                <h1 class="cover-heading">User Profile</h1>
                <hr class="solid">
                <section>
                    <h2 class="cover-heading">Profile Details</h2>
                    <hr class="solid">
                    <h4 class="cover-text">Profile Photo: </h4>
                    <p>
                        <img src="{{user.gravatar}}" class="center" width="120" height="120"/> 
                    </p>
                    <h4 class="cover-text">Userame: </h4><p>{{user.username}}</p>
                    <h4 class="cover-text">Name: </h4><p>{{user.name}}</p>
                    {% if membership.UserTypes.OFFICER in membership.get_user_types or my_profile != None and my_profile == True %}
                    <h4 class="cover-text">Chess Experience: </h4>
                        {% if user.chess_experience == "B" %}
                            <p>Beginner</p>
                        {% elif user.chess_experience == "I" %}
                            <p>Intermediate</p>
                        {% elif user.chess_experience == "A" %}
                            <p>Advanced</p>
                        {% elif user.chess_experience == "M" %}
                            <p>Master (IM/CM)</p>
                        {% elif user.chess_experience == "G" %}
                            <p>Grand Master (GM)</p>
                        {% endif %}
                    {% endif %}
                    <h4 class="cover-text">Public Bio: </h4>
                    <p>{{user.public_bio}}</p>
                </section>
              
                {% if membership.UserTypes.OFFICER in membership.get_user_types or membership.UserTypes.OWNER in membership.get_user_types or my_profile != None and my_profile == True %}
                <hr class="solid">
                <section>
                    <h2 class="cover-heading">Contact Details</h2>
                    <hr class="solid">
                    <h4 class="cover-text">Email: </h4>
                    <p>{{user.email}}<p/>
                </section>
                <hr class="solid">
                {% endif %} 
                {% if my_profile != None and my_profile == True%}
                <p>
                    <a href='{% url 'user_profile' %}' class="btn btn-lg btn-secondary">
                        Edit Profile
                    </a>
                </p>
                {% endif %} 
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
